body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    gap: 20px;
    align-items: center;
}

/* Logo */
.logo {
    padding-left: 50px;
    font-family: "Kalnia";
    font-size: 28px;
    font-weight: bold;
}

/* Navigation Links */
.nav-links {
    font-family: "Calibri";
    list-style: none;
    display: flex;
    right: 100px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: black;
}

/* Icons & Search Bar */
.nav-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-bar {
    margin-right: 30px;
    padding: 10px 40px;
    border: 1px;
    border-radius: 20px;
    outline: none;
    background-color: #f5f5f5;
}

.nav-icons img {
    width: 24px;
    height: 24px;
}

/* Navbar */
.navbar {
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #d9d9d9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.nav-links .dropdown {
    position: relative;
}

.nav-links .itulah {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    z-index: 1;
    border: 1px solid #f5f5f5;
    padding: 10px 0;
}

.nav-links .itulah li:hover {
    background-color: #f5f5f5;
}

.nav-links .itulah li {
    padding: 10px 20px;
}

.nav-links .itulah li a {
    color: black;
    font-family: "Calibri";
    font-weight: lighter;
    font-size: 16px;
    text-decoration: none;
}

.nav-links .dropdown:hover .itulah {
    display: grid;
}

.frame {
    width: 2028px;
}
.frame .overlap-group {
    top: 0;
    position: relative;
    width: 75%;
    padding: 0;
    height: 610px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    background-color: #f5f5f5;
    box-shadow: inset 16px -20px 15px #fff;
}
.frame .overlap {
    position: absolute;
    width: 420px;
    height: 604px;
    right: 1px;
    background-image: url(/pict/Ellipse.png);
    background-size: 100% 100%;
}

.frame .image {
    position: absolute;
    width: 380px;
    height: 540px;
    top: 32px;
    right: 2px;
}

.frame .text-wrapper {
    margin-top: 30vh;
    margin-left: -100vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    color: #000000;
    font-size: 38px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .div {
    margin-left: -110vh;
    top: 434vh;
    font-family: "Kalnia";
    font-weight: 900;
    color: #2d418e;
    font-size: 96px;
    letter-spacing: 0;
    line-height: normal;
}

.frame-2 {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
}
.frame-2 .company {
    position: absolute;
    width: 80vh;
    height: 100vh;
    left: 50px;
}
.frame-2 h2 {
    position: absolute;
    font-family: "Kalnia";
    font-size: 42px;
    font-weight: 900;
    color: #2d418f;
    right: 100px;
    top: 140px;
}
.frame-2 p {
    position: absolute;
    width: 600px;
    top: 250px;
    right: 100px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    color: #000000;
    font-size: 20px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
}

.frame-3 {
    position: absolute;
    margin: 0;
    padding: 0;
}
.frame-3 h2 {
    position: absolute;
    top: 110vh;
    left: 90vh;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 800;
}
.partner {
    position: relative;
    background-color: #f5f5f5;
    width: 205vh;
    height: 120px;
    top: 125vh;
    left: 0;
}
.partner-img {
    margin-top: 10px;
    position: relative;
    margin-left: 80px;
    align-items: center;
}

.frame-4 {
    top: 245vh;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 2028px;
}
.frame-4 .team {
    position: absolute;
    display: flex;
    margin: 20px;
    top: 120px;
    left: 350px;
    gap: 200px;
}
.frame-4 h2 {
    position: absolute;
    left: 80vh;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 800;
}
.frame-4 .box {
    box-shadow: -15px -12px 11.1px #7f7f7f;
    background-color: #f5f5f5;
    width: 290px;
    border-radius: 20px;
    height: 450px;
}
.frame-4 .team .box h3 {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 300;
    margin-left: 30px;
    margin-top: 10px;
}
.frame-4 .team .box p {
    font-family: "Poppins";
    margin-left: 30px;
}
.frame-4 img {
    margin: 20px;
    border-radius: 20px;
    height: 300px;
    width: 250px;
}

.web h2 {
    position: absolute;
    top: 335vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    left: 80vh;
}

footer {
    position: absolute;
    top: 355vh;
    text-align: justify;
    width: 100%;
    height: 50vh;
    color: #fff;
    background-color: #000;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left {
    max-width: 150vh;
    margin-left: 60px;
}

.footer-left h2 {
    margin-top: 60px;
    font-size: 36px;
    font-family: "Kelnia";
    font-weight: bold;
}

.footer-left p {
    line-height: 1.8;
    margin-top: 20px;
    font-size: 20px;
    font-weight: lighter;
    font-family: "Calibri";
}

.footer-socials {
    margin-top: 40px;
    display: flex;
    gap: 25px;
}

.footer-socials img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.footer-center h2,
.footer-right h2 {
    font-family: "Calibri";
    text-decoration: underline;
    font-weight: lighter;
    margin-bottom: 15px;
}
.footer-right,
.footer-center {
    margin-right: 60px;
    margin-top: 60px;
}
.footer-center ul {
    list-style: none;
    padding: 0;
}

.footer-center ul li {
    margin: 10px 0;
    font-family: "Calibri";
    font-weight: lighter;
    font-size: 20px;
}

.footer-right a {
    color: #fff;
    text-decoration: none;
    font-family: "Calibri";
    font-weight: lighter;
    font-size: 20px;
}

.footer-right p {
    margin: 10px 0;
    font-size: 20px;
    font-family: "Calibri";
    font-weight: lighter;
}
