/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

/* Logo */
.logo {
    padding-left: 50px;
    font-family: "Kalnia";
    font-size: 28px;
    font-weight: bold;
}

/* Navigation Links */
.nav-links {
    font-family: "Calibri";
    list-style: none;
    display: flex;
    right: 100px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: black;
}

/* Icons & Search Bar */
.nav-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-bar {
    margin-right: 30px;
    padding: 10px 40px;
    border: 1px;
    border-radius: 20px;
    outline: none;
    background-color: #d9d9d9;
}

.nav-icons img {
    width: 24px;
    height: 24px;
}

/* Navbar */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #f5f5f5;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.search input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.icons img {
    width: 25px;
    margin-left: 25px;
}

/*tabel*/
.tabel {
    border-collapse: collapse;
    background-color: #f5f5f5;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
.tabel-head {
    background-color: #333;
    color: #ffffff;
    height: 60px;
    font-size: large;
}
.tabel-deskripsi {
    font-size: 14px;
    font-weight: 100;
}
.link {
    font-weight: bold;
    color: black;
}
.button {
    font-weight: bold;
    text-decoration: underline;
    color: black;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
